@import 'jeet'
@import 'nib'

global-reset()
nested-reset()
reset-font()
reset-box-model()
reset-body()
reset-table()
reset-table-cell()
reset-html5()
normalize-css()
border-box-html()
fluid-media()

body
    background lighten(black, 10%)
    font-size 12px

[data-ws~=menu]
    size = 30px
    
    position fixed
    z-index 10
    
    background lighten(black, 15%)
    height size
    width 100%
    left 0
    top 0
    user-select none
    
    > *
        outline 0
        float left
        height size
        padding 0 (size / 2)
        color white
        border 0
        background transparent
        cursor default
    
    > [data-ws~=button]
        background lighten(black, 17%)
        cursor pointer
        
        &:hover
            background lighten(black, 10%)
        
        &:active
            background lighten(black, 5%)
        
        &.active
            background lighten(black, 2.5%)

[data-ws~=layers]
    position fixed
    z-index 11
    right 0
    top 0
    width 200px
    height 100%
    
    background lighten(black, 12.5%)
    
    [data-ws~=layer]
        color white
        padding 7px 10px
        border 1px solid transparent
        
        &.selected
            border-color lighten(black, 30%)
            
            &:hover
                border-color lighten(black, 40%)
        
        &:hover
            cursor pointer
            
            background lighten(black, 5%)

[data-ws~=blocks]
    position absolute
    width 100%
    height 100%
    user-select none
    
    > [data-ws~=block]
        &.selected
            > [data-ws~=container]
                box-shadow 0 0 15px 0 alpha(white, 10%), inset 0 0 10px 0 alpha(white, 40%)
                
                > [data-ws~=border]
                    border-color lighten(black, 40%)
                    
                    &:hover
                        border-color lighten(black, 75%)
            
        > [data-ws~=container]
            z-index 1
            position absolute
            
            > [data-ws~=content]
                position absolute
                width 100%
                height 100%
                background lighten(black, 5%)
            
            &:hover > [data-ws~=content]
                background lighten(black, 2.5%)
            
            > [data-ws~=placeholder]
                position absolute
                background alpha(white, 5%)
                
                &[disabled]
                    display none
            
            > [data-ws~=border]
                position absolute
                background alpha(white, 3%)
                border 0px solid lighten(black, 25%)
                
                &:hover
                    border 0px solid lighten(black, 50%)
                
                size = 5px
                
                &[data-ws~=n], &[data-ws~=s]
                    width 100%
                    height size
                
                &[data-ws~=w], &[data-ws~=e]
                    width size
                    height 100%
                
                &[data-ws~=ne], &[data-ws~=es], &[data-ws~=sw], &[data-ws~=wn]
                    width size
                    height size
                
                &[data-ws~=wn], &[data-ws~=n]
                    top 0
                    left 0
                &[data-ws~=ne], &[data-ws~=e]
                    top 0
                    right 0
                &[data-ws~=es], &[data-ws~=s]
                    bottom 0
                    right 0
                &[data-ws~=sw], &[data-ws~=w]
                    bottom 0
                    left 0
                
                &[data-ws~=n]
                    cursor n-resize
                    border-top-width 1px
                &[data-ws~=e]
                    cursor e-resize
                    border-right-width 1px
                &[data-ws~=s]
                    cursor s-resize
                    border-bottom-width 1px
                &[data-ws~=w]
                    cursor w-resize
                    border-left-width 1px
                
                &[data-ws~=ne]
                    cursor ne-resize
                &[data-ws~=es]
                    cursor se-resize
                &[data-ws~=sw]
                    cursor sw-resize
                &[data-ws~=wn]
                    cursor nw-resize
    
        &.dragging, &.resizing
            > [data-ws~=container]
                z-index 2
                
                > [data-ws~=content]
                    opacity 0.25
        
        > [data-ws~=guide]
            position absolute
            box-shadow -0.5px -0.5px 0 1px alpha(white, 2.5%)
            width 0px
            height 0px
            
            &[data-ws~=n]
                width 100%
            &[data-ws~=e]
                height 100%
            &[data-ws~=s]
                width 100%
            &[data-ws~=w]
                height 100%
            &[data-ws~=h]
                width 100%
            &[data-ws~=v]
                height 100%