@import 'jeet'
@import 'nib'

global-reset()
nested-reset()
reset-font()
reset-box-model()
reset-body()
reset-table()
reset-table-cell()
reset-html5()
normalize-css()
border-box-html()
fluid-media()

button, input
    border 0
    outline 0
    background transparent
    margin 0
    padding 0

[data-template="/"]
    position absolute
    left 0
    top 0
    width 100%
    height 100%

[data-template="wsSpaces"]
    position absolute
    top 0
    left 0
    width 100%
    height 100%

[data-template="wsSpace"]
    position absolute
    
    &:hover > .tools > .borders > .angle
        &:before
            margin -.6em
            opacity .5
    
    > .tools
        // position relative
        // width 100%
        // height 100%
        no-select()
        
        > .placeholder
            display none
            position absolute
            width 100%
            height 100%
            background-image repeating-linear-gradient(45deg, transparent, transparent 10px, alpha(lighten(blue, 25%), 50%) 10px, alpha(lighten(blue, 25%), 50%) 20px)
            opacity 0
            
            &[data-placeholder="beside"]
                display block
                opacity 0.25
                
            &[data-placeholder="hover"]
                display block
                opacity 0.5
                
                &:before
                    content ''
                    position absolute
                    left 0
                    top 0
                    width 70%
                    height 70%
                    margin 15%
                    border 1px solid lighten(blue, 25%)
                    box-sizing border-box
        
        > .borders
            
            > .line
                z-index 1
                position absolute
                width 1em
                height 1em
                background gray
                opacity .25
                border 0px solid black
                
                &[data-p="0"]
                    height 100%
                &[data-p="1"]
                    width 100%
                
                &[data-c="0"][data-p="0"]
                    left 0
                    cursor w-resize
                    border-left-width 1px
                &[data-c="1"][data-p="0"]
                    right 0
                    cursor e-resize
                    border-right-width 1px
                &[data-c="0"][data-p="1"]
                    top 0
                    cursor n-resize
                    border-top-width 1px
                &[data-c="1"][data-p="1"]
                    bottom 0
                    cursor s-resize
                    border-bottom-width 1px
            
            > .angle
                z-index 1
                position absolute
                width 1em
                height 1em
                
                &[data-lines="0 1"], &[data-lines="0 1"]:before
                    left 0 // -.56em
                    top 0 // -.56em
                    cursor nw-resize
                &[data-lines="1 2"], &[data-lines="1 2"]:before
                    right 0 // -.56em
                    top 0 // -.56em
                    cursor ne-resize
                &[data-lines="2 3"], &[data-lines="2 3"]:before
                    right 0 // -.56em
                    bottom 0 // -.56em
                    cursor se-resize
                &[data-lines="3 0"], &[data-lines="3 0"]:before
                    left 0 // -.56em
                    bottom 0 // -.56em
                    cursor sw-resize
                &:before
                    content ''
                    position absolute
                    width 1em
                    height 1em
                    border 1px solid gray
                    margin 0 // -.6em
                    opacity 0
                    transition all .25s
                
    > .container
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        
        // background white
        // box-shadow 0 5px 15px 0 alpha(black, 25%)
    
[data-template="wsMenu"]
    position absolute
    top 0
    left 0
    width 100%
    height 30px
    box-shadow inset 0 -1px 0 0 gray
    overflow hidden
    no-select()
    
    input, button
        padding 0 1em
        float left
        
        &.right
            border-left 1px solid gray
        
        &.left
            border-right 1px solid gray
    
    button, input[type=button], input[type=submit]
        &:not([disabled])
            &:hover
                box-shadow inset 0 0 0 1000px alpha(black, 10%)
            &:active
                box-shadow inset 0 0 0 1000px alpha(black, 10%)
    
    button[disabled]
        color lighten(black, 50%)
    
    > *
        height 30px
        
        &[data-template="wsAccount"]
            float right
            
            > *
                height 30px

[data-template="wsTools"]
    position absolute
    top 0
    right 0
    width 300px
    height 100%
    border-left 1px solid gray
    overflow-y scroll
    
    [data-template="wsAccount"]
        button[disabled]
            color lighten(black, 50%)
        
        button, input[type=button], input[type=submit]
            &:not([disabled])
                &:hover
                    box-shadow inset 0 0 0 1000px alpha(black, 10%)
                &:active
                    box-shadow inset 0 0 0 1000px alpha(black, 10%)
        
        input, button
            display block
            width 100%
            padding .25em
            border-bottom 1px solid gray
    
    [data-template="wsToolsSpace"]
        width 100%
        border-bottom 1px solid gray
        box-sizing border-box
        
        [data-title]
            position relative
            [data-background]
                position absolute
                width 100%
                height 100%
                opacity .25
            [data-body]
                z-index 1
                padding .25em
        
        > [data-template="wsToolsSpace"]
            border-bottom 0
            border-top 1px solid gray
            border-left 10px solid alpha(black, 50%)